#game-area {
    background-color: #ffffff;
    border: 2px solid #000;
    height: 500px;
    position: relative;
    width: 500px;
}

.personaje {
    height: 50px;
    position: absolute;
    width: 50px;
}

#player {
    background-color: blue;
    background-size: cover;
}

#beyonce {
    background-image: url('assets/beyonce.jpg');
    background-size: cover;
}


.menu{
    background-color: rgb(225, 224, 221);
    margin: 0 1rem 0 0;
    border: solid black 2px;
}
